<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">∴ QF ∴</h3>
                    <ul class="nav masthead-nav">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#" class="active">Signup</a></li>
                    </ul>
                </div>
            </div>

            <div class="inner cover">
                <img src="images/logo.png" id="logo" alt="QuipFlick">
                <h1 class="cover-heading">Movie synopses and reviews for the impatient.</h1>
                <div class="lead">
                    <form id="search-form" class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="search">Search</label>
                            <input id="search" name="field" type="search" class="form-control form input-large" placeholder="Enter a movie title to get started.">
                        </div>
                    </form>
                </div>
            </div>
            <div class="mastfoot">
                <div class="inner">
                </div>
            </div>

        </div>

    </div>

</div>

<!--
<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
    <p class="lead">
        <img src="images/logo.png" alt="QuipFlick"><br>
        Movie synopses and reviews for the impatient.
    </p>
    <p>
        <input type="search" class="form-control form" placeholder="Search movies.">
        <br>
        <button type="button" class="btn btn-default">Action!</button>
    </p>
</div>

<div class="row marketing">
    <div ng-repeat="thing in awesomeThings">
        <h4>{{thing.name}}</h4>
        <p>{{thing.info}}</p>
    </div>
</div>

<div class="footer">
    <p>♥ from the Yeoman team</p>
</div>
-->